{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="first text-center">
        <div class="d-flex justify-content-end">
            <div class="ml-3">
                {% if user.is_authenticated %}
                <a href="{% url 'todolist:profile' %}" class="profile"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg>{{ user.email}}</a>
                <a href="{% url 'todolist:manage_lists' %}" class="profile"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-task" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5H2zM3 3H2v1h1V3z"/>
                    <path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9z"/>
                    <path fill-rule="evenodd" d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5V7zM2 7h1v1H2V7zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5H2zm1 .5H2v1h1v-1z"/>
                </svg>Manage Lists</a>
                {% else %}
                <a href="{% url 'todolist:login' %}"><button  type="button" class="btn btn-dark">Login</button></a>
                {% endif %}
            </div>
            <div class="ml-2">
                {% if user.is_authenticated %}
                    <a href="{% url 'todolist:create_todolist' %}" class="btn btn-primary">New List</a>
                {% else %}
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" {% if request.session.todos|length == 0 %}disabled{% endif %}>
                        New List
                    </button>
                {% endif %}
            </div>
              
              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                      <p>You need to login to add another list or clear the current list.</p>
                      </div>
                      <div class="modal-footer">
                      <a href="{% url 'todolist:login' %}" class="btn btn-primary">Login</a>
                      <a href="{% url 'todolist:clear_session_todos' %}" class="btn btn-secondary">Clear List</a>
                      </div>
                  </div>
                  </div>
              </div>
        </div>
    </div>
    <div class="second">
        <div class="row justify-content-between">
            <h3 class="col-4 text-sm">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-alarm-fill" viewBox="0 0 16 16">
                    <path d="M6 .5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H9v1.07a7.001 7.001 0 0 1 3.274 12.474l.601.602a.5.5 0 0 1-.707.708l-.746-.746A6.97 6.97 0 0 1 8 16a6.97 6.97 0 0 1-3.422-.892l-.746.746a.5.5 0 0 1-.707-.708l.602-.602A7.001 7.001 0 0 1 7 2.07V1h-.5A.5.5 0 0 1 6 .5zm2.5 5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5zM.86 5.387A2.5 2.5 0 1 1 4.387 1.86 8.035 8.035 0 0 0 .86 5.387zM11.613 1.86a2.5 2.5 0 1 1 3.527 3.527 8.035 8.035 0 0 0-3.527-3.527z"/>
                </svg>
                {{ todolist.title }}
            </h3>
        </div>
    </div>   
    {% if not todos %}
    <div class="third">
        <div class="row justify-content-between">
            <h3 class="text-sm">Create your todo list below</h3>
        </div>
    </div>
    {% endif %}
    {% if messages %}
        <div class="alert-container">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                      </svg>{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="row justify-content-between">
        <form action="{% url 'todolist:add_todo' %}" method="POST">
            {% csrf_token %}
            <div class="input-container">
                {% if not todos %}
                <input type="hidden" name="todolist_id" value="{{ todolist.id }}">
                <input class="input-field" placeholder="Type here e.g. buy bacon" type="text" name="title">
                {% else %}
                <input type="hidden" name="todolist_id" value="{{ todolist.id }}">
                <input class="input-field" placeholder="Write your next task here..." type="text" name="title">
                {% endif %}
            </div>
            <button type="submit" class="btn btn-outline-success" style="margin-left: 10px;">Add Todo</button>
        </form>
    </div>

    <!-- Displaying the todos associated with the todo list -->
    <div id="todo-list-container">
        {% if todos %}
            {% for todo in todos %}
            <form method="post" action="{% url 'todolist:update_todo' todo_id=todo.id %}">
                {% csrf_token %}
                <div class="todo-item">
                    <div class="row align-items-center">
                        <div class="col ml-2">
                            <input type="checkbox" class="strikethroughCheckbox" name="is_checked" {% if todo.is_checked %}checked{% endif %}
                                   data-todo-id="{{ todo.id }}">
                            <label class="todo-label" {% if todo.is_checked %}style="text-decoration: line-through;"{% endif %}>
                                {{ todo.title }}
                            </label>
                        </div>
                        <div class="col-auto mr-2">
                            <a href="{% url 'todolist:delete_todo' todolist_id=todo.todolist.id todo_id=todo.id %}"
                               class="btn btn-danger del">Delete</a>
                        </div>
                    </div>
                </div>
            </form>
            {% endfor %}
        {% else %}
            <p>No Todos found for this list.</p>
        {% endif  %}
    </div>
    

    
<script>
    document.addEventListener('DOMContentLoaded', function () {
    const checkboxes = document.querySelectorAll('.strikethroughCheckbox');

    checkboxes.forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
            console.log('Checkbox changed');
            const label = this.nextElementSibling; // Assuming the label is the next sibling element

            if (checkbox.checked) {
                label.style.textDecoration = 'line-through';
            } else {
                label.style.textDecoration = 'none';
            }

            // Use AJAX to update the database
            const todoId = this.getAttribute('data-todo-id');
            const url = `/update_todo/${todoId}/`; // Construct the URL
            const isChecked = this.checked.toString(); // Convert boolean to string
            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            console.log('Sending AJAX request with data:', JSON.stringify({ is_checked: isChecked }));


            fetch(`/update_todo/${todoId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({ is_checked: isChecked }),
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    });
});

</script>
    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
